* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.conteiner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

/* NAVIGATION */
.navigation {
  background-color: #fff;
  /* position: sticky; */
}
.navigation-flex {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 35px;
}
.logo-text{
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-shadow: 2px 2px 0 #fb9208;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: 20px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item-link {
  text-decoration: none;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: black;
  transition: .3s
}
.nav-item-link:hover {
  
  font-size: 19px;
  border-bottom: 3px solid #fb9208;
}

.social {
  margin-right: 35px;
}
.social-list {
  display: flex;
  list-style: none;
}
.social-item {
  margin-right: 18px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item-img {
  width: 36px;
  height: 36px;

  transition: .3s
}
.social-item-img:hover {
  transform: scale(1.2);
}


/* INTRO */
.intro {
  background-image: url(img/header_22.jpg);
  background-repeat: no-repeat;
  height: 810px;
}

.intro-contet {
  padding-top: 280px;
  padding-left: 150px;
}

.intro-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  color: #0B141D;

  text-shadow: 4px 4px 0px #fb9208;

  padding-bottom: 15px;
}

.intro-text {
  line-height: 38px;
  font-size: 30px;
}


/* ABOUT ME */

.about_me-content {
  padding-top: 20px;
}
.about_me-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_me-foto {
  height: 700px;
  margin-left: 30px;
}

.about_me-text {
  width: 550px;
  height: 350px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-title {
  font-size: 30px;
  text-align: center;
}
.about_me-item h3 {
  font-size: 25px;
}
.about_me-item p {
  font-size: 20px;
}

/* GALLERY */

.gallery-content {
  background-color: rgb(165, 165, 165);
}
.gallery-title h3{
  text-align: center;
  padding-top: 50px;
}
.gallery {
  padding: 50px 50px;
}
.gallery img {
  height: 600px;
}


/* SEVICES */

.services-content {
  background-color: grey;
  padding-top: 50px;
}
.services {
}

.services-title {
  margin-bottom: 50px;
}
.services-flex {
  display: flex;
  flex-direction: column;
}
.services-items {
  margin: 0 60px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing:content-box;

  background-color: cadetblue;
}
.service-text:nth-child(odd) {
  text-align: right
}
.service-text:nth-child(even) {
  text-align: left
}
.service-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.service-text p {
  font-size: 25px;
}
.service-text {
  margin: 0px 80px;
}
.service-img img {
  height: 400px;
  display: block;
}

/* 
  PRICES
*/

.prices-content {
  background-color: rgb(165, 165, 165);
  padding-top: 50px;
}
.prices {
  margin: 50px;
}
.prices-title {
  margin-bottom: 50px;
}
.prices-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prices-item {
  width: 32%;
  height: 300px;
  margin-bottom: 30px;
}

.prices-img {

}
.prices-img img {
  width: 100%;
  height: 300px;
}
.prices-text {

}
.prices-text h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
.prices-text p {
  font-size: 20px;
}