* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.conteiner {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

/* NAVIGATION */
.navigation {
  background-color: #fff;
  /* position: sticky; */
}
.navigation-flex {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 35px;
}
.logo-text{
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-shadow: 2px 2px 0 #fb9208;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: 20px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item-link {
  text-decoration: none;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: black;
  transition: .3s
}
.nav-item-link:hover {
  
  font-size: 19px;
  border-bottom: 3px solid #fb9208;
}

.social-list {
  display: flex;
  list-style: none;
}
.social-item {
  margin-right: 18px;
}
.social-item-img {
  width: 36px;
  height: 36px;

  transition: .3s
}
.social-item-img:hover {
  transform: scale(1.2);
}


/* INTRO */
.intro {
  background-image: url(img/header_22.jpg);
  background-repeat: no-repeat;
  height: 810px;
}

.intro-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  color: #0B141D;

  text-shadow: 4px 4px 0px #fb9208;

  padding-bottom: 15px;
}

.intro-text {
  line-height: 38px;
  font-size: 30px;
}