* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.header__burger {
  display: none;
}
.conteiner {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
}

/* NAVIGATION */
.navigation {
  background-color: #fff;
  padding: 0 50px;
}
.navigation-flex {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* margin-left: 35px; */
}
.logo-text{
  font-style: normal;
  font-weight: 600;
  font-size: 28px;

  text-shadow: 2px 2px 0 #fb9208;
}

.nav-list {
  display: flex;
  list-style: none;
}
.nav-item {
  margin-right: 20px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item-link {
  text-decoration: none;
  text-transform: uppercase;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: black;
  transition: .3s
}
.nav-item-link:hover {
  
  font-size: 19px;
  border-bottom: 3px solid #fb9208;
}

.social {
  /* margin-right: 35px; */
}
.social-list {
  display: flex;
  list-style: none;
}
.social-item {
  margin-right: 18px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-item-img {
  width: 36px;
  height: 36px;

  transition: .3s
}
.social-item-img:hover {
  transform: scale(1.2);
}


/* INTRO */
.intro {
  background-image: url(img/header_22.jpg);
  background-repeat: no-repeat;
  height: 810px;
}

.intro-contet {
  padding-top: 280px;
  padding-left: 150px;
}

.intro-title {
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  color: #0B141D;

  text-shadow: 4px 4px 0px #fb9208;

  padding-bottom: 15px;
}

.intro-text {
  line-height: 38px;
  font-size: 30px;
}


/* ABOUT ME */

.about_me-content {
  padding-top: 20px;
  background-color: gray;
}
.about_me-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_me-foto {
  height: 700px;
  margin-left: 50px;

  z-index: 1;
}

.about_me-text {
  width: 550px;
  /* height: 350px; */
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 2;
}
.block-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.about_me-item {
  margin-bottom: 25px;
}
.about_me-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.about_me-item p {
  font-size: 20px;
}

/* GALLERY */

.gallery-content {
  background-color: rgb(165, 165, 165);
  padding-top: 50px;
}
/* .gallery-title h3{
  text-align: center;
  padding-top: 50px;
} */
.gallery {
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-img {
  height: 600px;
}
/* .full-size {

}
.opened {
  position: fixed;
  top: 0;
  z-index: 100;
} */
.gallery-btn {
  height: 60px;
  padding: 20px 5px;
  border-radius: 5px;

  transition: all 0.2s linear;
}
.gallery-btn:hover{
  background-color: #6c6c6c;
}
.gallery-btn:active {
  background-color: #6666;
}

/* SEVICES */

.services-content {
  background-color: grey;
  padding-top: 50px;
}
.services {
}

.services-title {
  /* margin-bottom: 50px; */
}
.services-flex {
  display: flex;
  flex-direction: column;
}
.services-items {
  margin: 0 60px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing:content-box;

  background-color: cadetblue;
}
.service-text {
  margin: 0px 80px;
}
.service-text:nth-child(odd) {
  text-align: right
}
.service-text:nth-child(even) {
  text-align: left
}
.service-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.service-text p {
  font-size: 25px;
}
.service-img img {
  height: 400px;
  display: block;
}

/* 
  PRICES
*/

.prices-content {
  background-color: rgb(165, 165, 165);
  padding: 50px;
}
.prices {
  margin-bottom: -30px;
}
.prices-title {
  /* margin-bottom: 50px; */
}
.prices-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prices-item {
  width: 32%;
  height: 300px;
  margin-bottom: 30px;

  position: relative;
}
.prices-item:hover .prices-text {
  opacity: 1;
}
.prices-img {
  position: absolute;

  z-index: 1;
}
.prices-img img {
  width: 100%;
  height: 300px;
}
.prices-text {
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.6);

  z-index: 2;
  opacity: 0;

  transition: 0.3s;
}
.prices-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.prices-text p {
  font-size: 24px;
  font-weight: 600;
}
.prices-text:hover {
  cursor: default;
}


/* 
  CONTACTS
*/

.contacts-content {
  background-color: grey;
  padding: 50px 70px;
}
.contacts-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-text p {
  margin-top: 15px;
  font-size: 24px;
  color: #0B141D;
} 
.contacts-nav {

}
.contacts-list {
  list-style-type: none;
}
.contacts-item {

}
.contacts-item-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
  line-height: 36px;
  transition: 0.3s;
}
.contacts-item-link:hover {
  border-bottom: 3px solid #fb9208;
}


@media (max-width: 1100px) {

  .about_me-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about_me-item p {
    font-size: 18px;
  }

  .navigation {
    padding: 0 20px;
  }

  .gallery-img {
    height: 400px;
  }

  .service-text {
    margin: 0px 30px;
  }
  .service-text h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .service-text p {
    font-size: 18px;
  }

  .prices-img img {
    width: 100%;
    height: 200px;
  }
  .prices-text {
    width: 100%;
    height: 200px;
  }
  .prices-text h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .prices-text p {
    font-size: 20px;
    font-weight: 600;
  }

  .contacts-item-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media(max-width: 770px) {
  .logo-text {
    font-size: 24px;
  }
  .block-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .header {
    
  }
  .navigation {
    padding: 0 20px;
  }
  .nav-item-link {
    font-size: 14px;
  }
  .social-item-img {
    width: 30px;
    height: 30px;
  }
  .intro-contet {
    padding-top: 140px;
    padding-left: 30px;
  }
  .intro {
    background-image: url(img/header_med.jpg);
    background-repeat: no-repeat;
    height: 432px;
  }
  .intro-text {
    line-height: 24px;
    font-size: 24px;
  }
  .intro-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
  }

  .about_me-foto {
    height: 400px;
    margin-left: 0;
  }
  .about_me-foto img{
    height: 400px;
  }

  .service-img img {
    height: 200px;
  }

  .gallery-content {
    padding: 20px 10px;
  }
  .gallery {
    padding:0;
  }
  .prices-content {
    padding: 20px;
  }
  .prices-item {
    height: 200px;
  }

  .contacts-item-link {
    font-size: 16px;
    line-height: 20px;
  }
  .contacts-text p{
    font-size: 18px;
  }
}

@media (max-width: 430px) {
  body.lock {
    overflow: hidden;
  }

  .block-title {
    margin-bottom: 20px;
  }
  .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 50;
    }
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: grey;
    margin: 0;
    padding: 0;
  }
  .navigation-flex {
    position: relative;
    padding: 0 20px;
    height: 50px;
  }
  .logo {
    z-index: 3;
  }
  .social {
    display: none;
  }
  .nav-item-link {
    font-size: 18px;
  }
  .nav {
    position: fixed;
    top: -100%;
    left: 0;
    
    width: 100%;
    height: 100%;

    transition: all 0.3s;
    
    background-color: grey;
    z-index: 2;
  }
  .nav.activ {
    padding-top: 70px;
    top: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 9px;
    height: 2px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;

    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .header__burger.activ::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.activ::after {
    transform: rotate(135deg);
    bottom: 9px;
  }
  .header__burger.activ span {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    margin: 0 0 15px;
  }





  

  .about_me-content {
    padding:30px;
  }
  .about_me-foto {
    display: none;
  }
  .about_me-text {
    margin: 0;
  }
  .services-content {
    padding-top: 20px;
  }
  .services-items {
    margin: 10px;
  }

  .gallery-img {
    height: 175px;
  }
  .gallery-btn {
    display: none;
  }
  .services-items {
    margin: 0 10px 10px;
  }
  .service-img {
    display: none;
  }
  .service-text:nth-child(odd) {
    text-align: left;
  }
  .service-text {
    margin: 20px;
  }

  .prices-flex {
    margin-top: 20px;
  }
  .prices-item {
    width: 100%;
    height: 80px;
  }
  .prices-img {
    display: none;
  }
  .prices-text {
    opacity: 1;
    height: 80px;
  }

  .contacts-content {
    padding: 20px;
  }
  .contacts-nav {
    display: none;
  }
  .contacts-item-link {
    font-size: 18px;
    line-height: 30px;
  }
}